<app-navbar></app-navbar>
<h1>
  Welcome {{ firstname }},
</h1>
<br><br><br><br><br>
<div class="container">
  <div class="row">

    
      <!-- <div class="col-md-4">
        <form #searchFriend="ngForm" (ngSubmit)="searchfriend(searchFriend.value)">
              <input type="text" class="form-control" name="searchuser" placeholder="Enter friend's name" ngModel>
              <button type="submit" value="search" class="btn btn-primary">Search</button>
        </form>
        <p *ngIf="foundNOfound">Sorry! No user found with this name</p>
      </div> -->

      <!-- Button for pending request-->
      <div class="col-md-4">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="showPendingRequest()">
              Pending Request
            </button>
      </div>

      <!-- Button for friend list-->
      <div class="col-md-4">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#friendlist" (click)="showFriendList()">
              Friend List
            </button>
      </div>

    </div>
</div>




  
  <!-- Modal for pending request -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Pending Request</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p *ngIf="flagBoolean0">{{flag0}}</p>
            <ul>
                <li *ngFor="let user of usernames"> 
                      {{user}} <button type="button" name="userfive" (click)="confirmUser(user);">Confirm</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="button" name="userdecline" (click)="declineUser(user);">Decline</button>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
&nbsp;&nbsp;&nbsp;

<!-- Modal for friend list -->
<div class="modal fade" id="friendlist" tabindex="-1" role="dialog" aria-labelledby="friendlistTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="friendlistTitle">Friends</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p *ngIf="flagBoolean1">{{flag1}}</p>
            <ul>
                <li *ngFor="let friends of friendsname"> 
                  {{friends}}
                  <div class="btn-group m-1" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-secondary">Message</button>
                      <button type="button" class="btn btn-secondary" (click)="unfriendUser(friends);">Unfriend</button>
                      <button type="button" class="btn btn-secondary">Block</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



<!--<button type="button" (click)="showFriendList();">Friends List</button>
    <div>
      <div *ngIf="flagBoolean0">{{flag0}}</div>
      <div *ngIf="flagBoolean1">{{flag1}}</div>
    </div>

-->

  <!-- uploading image from here -->
<div class="container-fluid">
  <div class="row header-section">
      <span>Angular 4/5 Nodejs File Upload Download Sample</span>
  </div>

  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="row card">
              <div class="col-sm-12">
                  <h4>Upload Section</h4>
                  <div id="fileSelector">
                      <input type="file" name="fileUplaod" id="fileUpload"
                      multiple ng2FileSelect [uploader]="uploader">
                  </div>
                  <div>
                      <div class="row uploadList" *ngFor="let item of uploader.queue">
                          <div class="col-sm-4">{{item.file.name}}</div>
                          <div class="col-sm-4">
                              <div class="progress">
                                  <div class="progress-bar bg-success" 
                                  [ngStyle]="{'width':item.progress+'%'}"></div>
                              </div>
                          </div>
                          <div class="col-sm-4">
                                  <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>
                                  <button type="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>
                          </div>
                      </div>                        
                  </div>
                  <!-- <div class="row" *ngIf="uploader?.queue?.length > 0">
                          <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()">Upload All</button>
                  </div> -->
              </div>                
          </div>

          <!-- <div class="row card">
              <h4>Download Section</h4>

              <div class="row" *ngFor="let item of attachmentList; let i = index"
              style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
                  <div class="col-sm-7">{{item.originalname}}</div>
                  <div class="col-sm-5" style="text-align:center;"><button type="button" class="btn btn-primary" (click)="download(i)">Download</button></div>
              </div>
          </div> -->
      </div>
      <div class="col-md-2"></div>
  </div>
</div>
<!-- image uploading done -->

 <!-- on page load displaying this image-->
<div *ngIf = "flag44">
  <img [src]="this.playerSrc" id="pic" alt="image will be here">
</div>

<!-- <div *ngFor="let file of displayPicture">
	{{file.error}}
	<img src="{{file.imagePath}}"/>
</div> -->

<!-- <div>
  <img src="../assets/img.JPG" id="picture" alt="image will be here">
</div> -->
